<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                asdddddddddddddddddddda
            </div>
            <div class="col-md-10">
                <div class="row companyName pb-3">
                    <h1><strong>{{companyName}}</strong></h1>
                </div>
                <div class="row">
                    <div class="col-btn-menu" style="border-radius: 1rem 0rem 0rem 1rem;">
                        <a class="btn-menu">Trabajo</a>
                    </div>
                    <div class="col-btn-menu">
                        <a class="btn-menu">Calendario</a>
                    </div>
                    <div class="col-btn-menu" style="border-radius: 0rem 1rem 1rem 0rem;">
                        <a class="btn-menu">Asistencia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>