<div class="background">
    <div class="space">
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <div class="table-general">
                        <table class="table">
                            <thead class="head-table">
                                <tr>
                                    <th scope="col">Empresas</th>
                                </tr>
                            </thead>
                            <tbody class="body-table" *ngFor="let company of companies">
                                <tr (click)="selectCompany(company)" class="companies">
                                    <td>{{company.shortName}}</td>
                                </tr>
                            </tbody>  
                        </table> 
                        
                    </div>
                    <div class="row">
                        <button class="btn-viewCompany" [routerLink]="['/view-companies']"> Ver companias</button>
                    </div>     
                    <div class="row">
                        <button class="btn-viewCompany" [routerLink]="['/approved-students']">Aprobados</button>
                    </div>   
                    <!-- <div class="row">
                        <button class="btn-viewCompany" (click)="generateReport()">Aprobados</button>
                    </div>                   -->
                </div>
            </div>
    
            <div class="col-md-10">
                <div class="row">
                    <h1 class="companyName">{{companyName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <!-- <div class="row">
                            <div class="btn-group">
                                <div class="col-btn-menu" style="border-radius: 1rem 0rem 0rem 1rem;">
                                    <a class="btn-menu">Trabajo</a>
                                </div>
                                <div class="col-btn-menu" style="border-radius: 0rem 1rem 1rem 0rem;">
                                    <a class="btn-menu">Asistencia</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row bg-table">
                    <app-attendance [company]="company" [reloadCompany]="reloadCompany.asObservable()"></app-attendance>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(2,117,216,0.4)" size="large" color="#0275d8" type="ball-clip-rotate-pulse"
    [fullScreen]="true">
    <p style="color: #0275d8; font-size: 20px; font-weight: bold;"> Cargando... </p>
</ngx-spinner>