.web{
    background-color: #334756;
    height: 100vh;
}

.card{
    margin-top: 1rem;
    min-height: 72vh;
    border-radius: 2rem;
}



input[type=text], 
input[type=password],
select{
    border: 1px solid #334756;
    font-size: 1.5rem;
    margin: 0.5vh;
    padding: 1vh 2vh 1vh;
    height: 6vh;
    width: 95%;
    border-radius: 80px;
    
}

h1,h2{
    
    text-align: center;
}
h1{
    color: white;
}
h2{
    color: #334756;
    font-weight: bold;
    padding: 2vh;
}
a{
    color: black;
    text-align: center;
    display: block;
    text-decoration: none;
}


.btn{
    color: white;
    border-radius: 100px;
    margin: 1vh;
}
.btn-oran{
    background-color: #F0A500;
    width: 95%;
    margin-top: 1rem;
    font-size: 30px;
    font-weight: bold;
}

.logo {
    background-image: url(/assets/images/logo.png);   
    width: 100%;
    height: 4rem;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}