<div class="web">
    <div class="container">
        <div class="row" style="padding-top: 8rem">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2>Iniciar Sesion</h2>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div>
                                <input type="text" #userFocus class="form-control" placeholder="Correo Institucional" formControlName="username" autofocus>
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Contraseña"
                                formControlName="password">
                            </div>
                            <div>
                                <button fullWidth class="btn btn-oran" status="success" [disabled]="!loginForm.valid">Ingresar</button>
                            </div>
                        </form>
                        <div>
                            <a [routerLink]="['/register-user']" class="btn btn-blue">Regsitrarse</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>