<div class="web">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h1>Empresa TIS</h1>
                <div class="card">
                    <div class="card-body">
                        <h2>Iniciar Sesion</h2>
                        <div>
                            <input type="text" placeholder="Correo Institucional">
                        </div>
                        <div>
                            <input type="password" placeholder="Contraseña">
                        </div>
                        
                        
                        <div>
                            <a [routerLink]="['/home']" class="btn btn-oran">Ingresar</a>
                        </div>
                        <div>
                            <a [routerLink]="['/register-user']" class="btn btn-blue">Regsitrarse</a>
                        </div>
                        

                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>      
    </div>
</div>