<div class="web">
    <div class="container">
        <div class="row" style="padding-top: 8rem">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2>Iniciar Sesion</h2>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div>
                                <input type="text" #userFocus class="form-control" placeholder="Correo Institucional" formControlName="username" autofocus>
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Contraseña"
                                formControlName="password">
                            </div>
                            <div>
                                <button id="liveToastBtn" fullWidth class="btn btn-oran" status="success" [disabled]="!loginForm.valid">Ingresar</button>
                            </div>
                        </form>
                        <div>
                            <a [routerLink]="['/register-user']" class="btn btn-blue">Regsitrarse</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(2,117,216,0.4)" size="large" color="#0275d8" type="ball-clip-rotate-pulse"
    [fullScreen]="true">
    <p style="color: #0275d8; font-size: 20px; font-weight: bold;"> Cargando... </p>
</ngx-spinner>