<div class="web">
    <div class="container">
        <div class="row" *ngIf="viewButonForOptions">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="card-btn">
                    <div>
                        <button class="btn" (click)="changeViewOptions()"> <span
                                class="fas fa-user-circle"></span>Anuncia algo con tu clase:</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" *ngIf="viewOptions">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="card-form">
                    <div class="row">
                        <div class="col-sm-1">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="col-sm-10 mx-2">
                            <h3>Quieres: </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-4">
                            <div class="ch-boxes">
                                <div>
                                    <input class="form-check-input" type="radio" name="postoptions" id="postoptions1"
                                        value="viewAnnouncementsStatus" checked [(ngModel)]="viewAnnouncementsStatus"
                                        (change)="onItemChange(true, $event.target.value)">
                                    <label class="form-check-label">
                                        Publicar Convocatoria
                                    </label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="radio" name="postoptions" id="postoptions2"
                                        value="viewAdvertisementsStatus" [(ngModel)]="viewAdvertisementsStatus"
                                        (change)="onItemChange($event.target.value, true)">
                                    <label class="form-check-label">
                                        Anuncio a clase
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-3">
                            <button class="btn-form btn-cancel" (click)="changeViewOptions()">Cancelar</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn-form btn-confirm"
                                (click)="changeViewAnnouncementssOrAdvertisements()">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <app-add-offer *ngIf="viewAnnouncements"></app-add-offer>
        <app-announcement-editor *ngIf="viewAdvertisements"></app-announcement-editor>

        <div class="row" *ngFor="let homeInformarion of homeInformarions">
            <div class="col-md-2">
            </div>
            <div class="col-md-8" *ngIf="homeInformarion.statusId == 1">
                <div class="card-home">
                    <div class="row">
                        <div class="col-sm-1">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="col-sm-10 mx-2">
                            <div>{{autor}}</div>
                            <div>{{homeInformarion.dateCreated | date:'dd MMMM yyyy'}}</div>
                        </div>
                    </div>
                    <div class="row mx-4">
                        <h3 style="text-align: center;"> <strong>Convocatoria Gestión {{semesterNames}}</strong> </h3>
                        <p style="text-align: justify;">{{homeInformarion.description}}
                    </div>
                    <div class="row  mx-4">
                        <div class="col-md-2">
                            <h5><strong>Detalles</strong></h5>
                            <div class="pt-2">Min Socios: {{homeInformarion.minUsers}}</div>
                            <div>Max Socios: {{homeInformarion.maxUsers}}</div>
                        </div>
                        <div class="col-md-8">
                            <h5 style="text-align: center;"><strong>Pliego de Especificaciones</strong></h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="../../../assets/images/file.png" width="100%" style="cursor: pointer;"
                                        (click)="goToLink(homeInformarion.documentUrl)">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row mx-4">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <button class="btn-form btn-confirm" style="font-size: 1.1rem; width: 100%;"
                                [routerLink]="['/add-company', homeInformarion.id]">Registar Empresa</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" *ngIf="homeInformarion.statusId == 2">
                <div class="card-home pb-5">
                    <div class="row">
                        <div class="col-sm-1">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="col-sm-10 mx-2">
                            <div>{{autor}}</div>
                            <div>{{homeInformarion.dateCreated | date: 'dd MMMM yyyy'}}</div>
                        </div>
                    </div>
                    <div class="row mx-4 \">
                        <h3 style="text-align: center;"> <strong>Anuncio</strong> </h3>
                        <p style="text-align: justify;">{{homeInformarion.description}}
                    </div>
                    <div class="row" *ngIf="homeInformarion.documentUrl != null">
                        <div class="col-md-4">
                            <img src="../../../assets/images/file.png" width="100%" style="cursor: pointer;"
                                (click)="goToLink(homeInformarion.documentUrl)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(2,117,216,0.4)" size="large" color="#0275d8" type="ball-clip-rotate-pulse"
    [fullScreen]="true">
    <p style="color: #0275d8; font-size: 20px; font-weight: bold;"> Cargando... </p>
</ngx-spinner>