<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="card-form">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fas fa-user-circle"></i>
                </div>
                <div class="col-sm-8">
                    <h4>Publicar Convocatoria</h4>
                </div>
                <form [formGroup]="offerEditorForm">
                    <div class="form-group row">
                        <label for="description" class="col-sm-4 col-form-label">Descripción: </label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="description" id="description" rows="3"
                                formControlName="description" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date" class="col-sm-4 col-form-label">Fecha Fin: </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input class="form-control" placeholder="dd-mm-yyyy"  formControlName="dateEnd"
                                    ngbDatepicker #d1="ngbDatepicker" readonly="readonly" container="body">
                                <div class="input-group-append" style="height:2.2rem;">
                                    <i class="fas fa-calendar-week" (click)="d1.toggle()"  style="font-size: 1.5rem;"></i>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fileupload" class="col-sm-4 col-form-label">Adjuntar Archivos: </label>
                        <div class="col-sm-8">
                            <div class="file-drop-area">
                                <i class="far fa-file-pdf pdf" (click)="fileInput.click()"></i>
                                <div *ngIf="imageErrorSize">
                                    <div class="alert text-danger">{{imageErrorSize}}</div>
                                </div>
                                <input style="display: none" type="file" onclick="this.value = null"
                                    (change)="onFileChange($event)" #fileInput>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div *ngIf="thumbnailData">
                                        <img *ngIf="thumbnailData" [src]="thumbnailData" height="200"><br /><br />
                                    </div>
                                    <button *ngIf="thumbnailData" type="button" (click)="removeFile()"
                                        class="btn-sm">Remover</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bspartner" class="col-sm-4 col-form-label">Cantidad de Socios: </label>
                        <label for="minpar" class="col-sm-2 col-form-label">Minima: </label>
                        <div class="col-sm-2">
                            <input type="text" class="col-sm-2 form-control" name="minpar" id="minpar"  formControlName="minUsers">
                        </div>
                        <label for="maxpar" class="col-sm-2 col-form-label">Maxima: </label>
                        <div class="col-sm-2">
                            <input type="text" class="col-sm-2 form-control" name="maxpar" id="maxpar"  formControlName="maxUsers">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-3">
                            <button class="btn-form btn-cancel" (click)="cancel()">Cancelar</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn-form btn-confirm" type="submit"
                               (click)="AddOffer()">Aceptar</button>
                        </div>
                    </div>
                </form>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>