<div class="backgorud">
    <div class="container">
        <div class="text-center py-5">
            <h1 style="color: white;">Registar Empresa</h1>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="card" style="min-height: 25.5rem;">
                    <div class="card-body">
                        <form [formGroup]="companyEditorForm">
                            <div class="form-group py-2">
                                <input type="text" class="form-control" placeholder="Nombre Empresa(Corto)"
                                    formControlName="companyShortName">
                                <div *ngIf="companyShortName.invalid && (companyShortName.dirty || companyShortName.touched)"
                                    class="alert text-danger">
                                    <div *ngIf="companyShortName.errors.required">
                                        El nombre de la empresa (corto) es requerido.
                                    </div>
                                    <div *ngIf="companyShortName.errors.maxlength">
                                        El nombre debe tener máximo 100 caracteres.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <input type="text" class="form-control" placeholder="Nombre Empresa(Largo)"
                                    formControlName="longCompanyName">
                                <div *ngIf="longCompanyName.invalid && (longCompanyName.dirty || longCompanyName.touched)"
                                    class="alert text-danger">
                                    <div *ngIf="longCompanyName.errors.required">
                                        El nombre de la empresa (largo) es requerido.
                                    </div>
                                    <div *ngIf="longCompanyName.errors.maxlength">
                                        El nombre debe tener máximo 100 caracteres.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <input type="text" class="form-control" placeholder="Tipo de Sociedad"
                                    formControlName="kindOfSociety">
                                <div *ngIf="kindOfSociety.invalid && (kindOfSociety.dirty || kindOfSociety.touched)"
                                    class="alert text-danger">
                                    <div *ngIf="kindOfSociety.errors.required">
                                        El tipo de sociedad es requerido
                                    </div>
                                </div>
                            </div>

                            <div class="row py-2">
                                <label><strong>Miembros ({{offer?.minUsers}} - {{offer?.maxUsers}})</strong></label>                                
                                <div class="row my-2" *ngIf="me!=null">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control " disabled value="{{me}}">
                                    </div>
                                </div>
                                <div *ngFor="let userSelected of usersSelected">
                                    <div class="row my-2">
                                        <div class="col-md-8">
                                            <input type="text" class="form-control " disabled
                                                value="{{userSelected.email}}">
                                        </div>
                                        <div class="col-md-4">
                                            <button class="add-member" (click)="cancelSelectUser(userSelected)">
                                                <fa-icon [icon]="faTimes" class="icon-size"></fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert text-danger" *ngIf="usersSelected.length+1 < offer?.minUsers">
                                    La cantidad minima de miembros es de {{offer?.minUsers}} 
                                </div>
                                <div class="alert text-danger" *ngIf="usersSelected.length > offer?.maxUsers">
                                    La cantidad maxima de miembros es de {{offer?.maxUsers}}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row py-3 px-3">
                        <div class="col-md-6"></div>
                        <div class="col-md-3">
                            <button type="submit" class="btn-cancel">
                                Cancelar
                            </button>
                        </div>
                        <div class="col-md-3 text-center">
                            <button type="submit"
                                [ngStyle]="{'background-color': companyEditorForm.valid ? '#f0a500' : '#FCCA5E'}"
                                [disabled]="!companyEditorForm.valid" (click)="addCompany()" class="btn-register">
                                Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="py-2">
                                <input type="text" #searchMember class="form-control" placeholder="Buscar miembros">
                            </div>
                            <div class="py-2" style="height:20rem; overflow:auto;">
                                <table class="default">
                                    <tr class="py-2" *ngFor="let user of users" (click)="selectUser(user)">
                                        <div><strong>{{user.firstName}} {{user.lastName}}</strong></div>
                                        <div>{{user.email}}</div>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(2,117,216,0.4)" size="large" color="#0275d8" type="ball-clip-rotate-pulse"
    [fullScreen]="true">
    <p style="color: #0275d8; font-size: 20px; font-weight: bold;"> Cargando... </p>
</ngx-spinner>