.backgorud-image {
    background-image: url(/assets/images/font.jpeg);
    width: 100vw;
    height: 100vh;
}

.btn-login{
    background-color: #f0a500;
    font-weight: bold;
    color: white;
    margin-right: 2rem;
    border-radius: 2rem;
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.btn-register{    
    border-color: #f0a500;
    font-weight: bold;
    color: #f0a500;
    border-radius: 2rem;
    border-radius: 2rem;
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}