<div class="backgorud-image">
    <div class="container">
        <div class="row" style="height:4vh;">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="logo" style="cursor: pointer;"></div>
                    </div>
                    <div class="col-md-6" style="color: #f0a500; font-size: 2.5rem;cursor: pointer;">
                        T.I.S.
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <div class="row text-center" style="color: white; font-size: 2.5rem;">
                    <div class="col-md-4" style="cursor: pointer;">Plan Global</div>
                    <div class="col-md-4" style="cursor: pointer;">Docentes</div>
                    <div class="col-md-4" style="cursor: pointer;">Horarios</div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 35vh;">
            <h1 style="color: white; font-weight: bold; ">
                Taller de Ingenieria de Software
            </h1>
            <h2 style="color: white; ">LLeva a la realidad tus sueños</h2>
            <div>
                <button class="btn btn-login" [routerLink]="['/login']">Ingresar</button>
                <button class="btn btn-register" [routerLink]="['/register-user']">Registrarse</button>
            </div>
        </div>
    </div>
</div>