
<div class="backgorud-image">
    
    <div class="container">
        <div class="row" style="padding-top: 35vh;">
            <div class="col-md-9">
                <h1 style="color: white;">
                    Taller de Ingenieria de Software
                </h1>
                <h2 class="subtitle">LLeva a la realidad tus sueños</h2>
                <div>
                    <button class="btn btn-login" [routerLink]="['/login']">Ingresar</button>
                    <button class="btn btn-register" [routerLink]="['/register-user']">Registrarse</button>
                </div>
                
            </div>
            
        </div>
        <div class="row" style="padding-top: 25vh;">
            <i class="tri fas fa-chevron-down" [routerLink]="['/']" fragment="sec-def"></i>
        </div>
        
    </div>

</div>

<section id="sec-def" class="section-def white-back">
    <div class="container">
        <div class="row">
            <h2>Por que Taller de Ingenieria de Sistemas</h2>
            <div class="col-md-7">
                <h3>Proposito General de la Asignatura</h3>
                <p class="long-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Vestibulum vel ligula et lectus consequat egestas in varius lectus. 
                    Suspendisse tristique ante velit, et facilisis ex efficitur lacinia. 
                    Duis sit amet congue massa. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    Curabitur sit amet sapien diam. Duis congue neque nec libero tincidunt, non vulputate elit finibus. 
                    Proin sagittis neque vitae aliquam facilisis. Aenean et erat lacus. Duis semper lorem eu lorem convallis varius. 
                    Quisque porta ipsum quis elit sollicitudin varius. Morbi nisl sem, interdum et odio sit amet, varius sagittis mi. 
                    Vivamus blandit nec eros a consectetur. Fusce augue nibh, bibendum a mattis in, iaculis luctus nulla.
                </p>
            </div>
            <div class="col-md-5"></div>
            
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <h3>Competencias a Desarrollar con los Estudiantes</h3>
                <p class="long-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Vestibulum vel ligula et lectus consequat egestas in varius lectus. 
                    Suspendisse tristique ante velit, et facilisis ex efficitur lacinia. 
                    Duis sit amet congue massa. 
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    Curabitur sit amet sapien diam. Duis congue neque nec libero tincidunt, non vulputate elit finibus. 
                    Proin sagittis neque vitae aliquam facilisis. Aenean et erat lacus. Duis semper lorem eu lorem convallis varius.
                </p>
            </div>
            
        </div>
    </div>
</section>

<section id="glo-plan" class="global-plan white-back">
    <div class="container">
        <h2>Plan Global</h2>
        <div class="row">
            <h3>Unidad 1</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vestibulum vel ligula et lectus consequat egestas in varius lectus. 
                Suspendisse tristique ante velit, et facilisis ex efficitur lacinia. 
                Duis sit amet congue massa. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            </p>
        </div>
        <div class="row">
            <h3>Unidad 2</h3>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vestibulum vel ligula et lectus consequat egestas in varius lectus. 
                Suspendisse tristique ante velit, et facilisis ex efficitur lacinia. 
                Duis sit amet congue massa. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            </p>
        </div>
        <div class="row">
            <h3>Unidad 3</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vestibulum vel ligula et lectus consequat egestas in varius lectus. 
                Suspendisse tristique ante velit, et facilisis ex efficitur lacinia. 
                Duis sit amet congue massa. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            </p>
        </div>
        <div class="row">
            <h3>Unidad 4</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vestibulum vel ligula et lectus consequat egestas in varius lectus. 
                Suspendisse tristique ante velit, et facilisis ex efficitur lacinia. 
                Duis sit amet congue massa. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            </p>
        </div>
        <div class="row">
            <h3>Unidad 5</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vestibulum vel ligula et lectus consequat egestas in varius lectus. 
                Suspendisse tristique ante velit, et facilisis ex efficitur lacinia. 
                Duis sit amet congue massa. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            </p>
        </div>
        <div class="row">
            <h3>Unidad 6</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vestibulum vel ligula et lectus consequat egestas in varius lectus. 
                Suspendisse tristique ante velit, et facilisis ex efficitur lacinia. 
                Duis sit amet congue massa. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            </p>
        </div>
    </div>
    
</section>

<section id="doc" class="tis-admins white-back" #doc>
    <div class="container">
        <h2>Docentes de T.I.S.</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-sm-4">
                            <img src="/assets/images/user-icon.png" class="card-img" alt="user-icon">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">Flores Villarroel Corina</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Correo: </small></p>
                                <p class="card-text"><small class="text-muted">Telefono:  </small></p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-sm-4">
                            <img src="/assets/images/user-icon.png" class="card-img" alt="user-icon">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">Blanco Coca Leticia</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Correo: </small></p>
                                <p class="card-text"><small class="text-muted">Telefono:  </small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-sm-4">
                            <img src="/assets/images/user-icon.png" class="card-img" alt="user-icon">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">Escalera Fernandez David</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Correo: </small></p>
                                <p class="card-text"><small class="text-muted">Telefono:  </small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-sm-4">
                            <img src="/assets/images/user-icon.png" class="card-img" alt="user-icon">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">Rodriguez Bilbao Erika Patricia</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Correo: </small></p>
                                <p class="card-text"><small class="text-muted">Telefono:  </small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="schedules" class="clss-schedule white-back" #schedules>
    <div class="container">
        <h2>Horarios de T.I.S.</h2>
        
        <div class="row">
            <table class="table">
                <thead class="head-table">
                    <tr>
                        <th scope="col">Grupo</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Docente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            LUNES 9:45-11:15, 690D <br>
                            MARTES 9:45-11:15, 655
                        </td>
                        <td>FLORES VILLARROEL CORINA</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            LUNES 8:15-9:45, 651 <br>
                            MARTES 8:15-9:45, INFLAB
                        </td>
                        <td>BLANCO COCA LETICIA</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            LUNES 6:45-8:15, 69IB <br>
                            JUEVES 6:45-8:15, AUDIT
                        </td>
                        <td>ESCALERA FERNANDEZ DAVID</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>
                            MARTES 17:15-18:45, 655 <br>
                            VIERNES 15:45-17:15, 690D
                        </td>
                        <td>RODRIGUEZ BILBAO ERIKA PATRICIA</td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>

</section>

