<div class="backgorud-image">
    <app-header></app-header>
    <div class="container">
        <div class="row" style="padding-top: 35vh;">
            <h1 style="color: white; font-weight: bold; ">
                Taller de Ingenieria de Software
            </h1>
            <h2 style="color: white; ">LLeva a la realidad tus sueños</h2>
            <div>
                <button class="btn btn-login" [routerLink]="['/login']">Ingresar</button>
                <button class="btn btn-register" [routerLink]="['/register-user']">Registrarse</button>
            </div>
        </div>
    </div>
</div>