<div class="general">
    <table class="table">
        <thead class="head-table">
            <tr>
                <th>Horario</th>
                <th *ngFor='let student of company?.members' style="width: auto;">
                    <div class="row px-3">
                        <div style="float: left; width: 200px;">
                            {{student.givenName}}
                        </div>
                        <div style="float: left; width: 100px;">
                            Nota
                        </div>
                    </div>
                </th>
                <th>Anotaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let attendances of groupAttendances'>
                <td>{{attendances.fecha | date: 'dd/MM/yyyy'}}</td>
                <td class="student" *ngFor='let attendance of attendances.listStudent; let i = index'>
                    <div class="row px-3" >
                        <div style="float: left; width: 200px;">
                            {{attendance.user.givenName}}
                        </div>
                        <div style="float: left; width: 100px;">

                            {{attendance.attendanceGrade}}
                        </div>
                    </div>
                </td>
                <td><a class="view">Visualizar</a></td>
            </tr>
            <tr *ngIf="!newAttendance">
                <button class="btn btn-newAttendance" (click)="createNewAttendance()">
                    <fa-icon [icon]="faPlus" class="icon-size"></fa-icon> Crear nueva asistencia
                </button>
            </tr>
            <tr *ngIf="newAttendance" class="pt-2">
                <td>{{ date | date: 'dd/MM/yyyy'}}</td>
                <td class="student" *ngFor='let student of company?.members'>
                    <div class="row px-3">
                        <form [formGroup]="attendanceEditorForm" (ngSubmit)="addAttendance(student)">
                            <div style="float: left; width: 200px;">
                                <select class="comboBox" formControlName="status">
                                    <option value="Presente">Presente</option>
                                    <option value="Tarde">Tarde</option>
                                    <option value="Inasistencia">Inasistencia</option>
                                </select>
                            </div>
                            <div class="input-group" style="float: left; width: 100px;">
                                <input type="text" class="form-control" formControlName="grade" placeholder="Nota"
                                    class="notaSemanal" />
                            </div>

                            <div style="float: left; width: auto;">
                                <button type="submit" class="submit save-attendance">
                                    <fa-icon [icon]="faSave" class="icon-size"></fa-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                </td>
                <td><a class="view">Visualizar</a></td>
            </tr>
            <tr>
                <td class="total">Total</td>
                <td class="student" *ngFor='let ga of gradeAverages' style="vertical-align: middle;">
                    <div class="row px-3">
                        <div style="float: left; width: 200px;">
                            <p>Presente: {{ga.presentes}}</p><br>
                            <p>Tarde: {{ga.tardes}}</p><br>
                            <p>Inasistencia: {{ga.inasistencias}}</p><br>
                        </div>
                        <div style="float: left; width: 100px;">
                            <input placeholder="Nota" class="notaSemanal" disabled value="{{ga.gradeAverage}}" />
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>

    <table class="table-sec">
        <thead class="head-table">
            <tr>
                <th class="th-normal"></th>
                <th *ngFor='let student of company?.members' style="width: auto;">
                    {{student.givenName}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="evFinal">Evaluacion final</td>
                <td *ngFor='let student of company?.members'>
                    <div style="float: left; width: auto;">
                <td>
                    <input placeholder="Nota" />
                </td>
                <td>
                    <button class="submit save-attendance">
                        <fa-icon [icon]="faSave" class="icon-size"></fa-icon>
                    </button>
                </td>
</div>
</td>
</tr>
</tbody>
</table>

</div>