<div class="general">
  <table class="table" >  
      <thead class="head-table">
          <tr >
              <th>Horario</th>
              <th *ngFor='let student of schedules[0].listStudents;index as i' style="width: 130px;">
                  <div *ngIf='i%2==0'>
                      {{student.name}}
                  </div>
                  <div *ngIf='i%2!=0' style="width: 120px;">
                      Nota
                  </div>
              </th>
              <th>Anotaciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let schedule of schedules">
              <td >{{schedule.schedule}}</td>
              <td class="student" *ngFor='let student of schedule.listStudents;index as i'>
                  <div *ngIf='i%2==0'>
                      {{student.attendance}}
                  </div>
                  <div *ngIf='i%2!=0'>
                      {{student.grade}}
                  </div>
              </td>
              <td><a class="view">Visualizar</a></td>
          </tr>
          <tr>
              <td>Jueves 16 Dic, 2021, 07:00-07:30</td>
              <td class="student" *ngFor='let student of schedules[0].listStudents;index as i'>
                  <div *ngIf='i%2==0'>
                      <select class="comboBox">
                          <option value="Presente">Presente</option>
                          <option value="Tarde">Tarde</option>
                          <option value="Inasistencia">Inasistencia</option>
                      </select>
                  </div>
                  <div *ngIf='i%2!=0'>
                      <input type="text" placeholder="Nota" class="notaSemanal"/>
                  </div>
              </td>
              <td><a class="view">Visualizar</a></td>
          </tr>
          <tr>
              <td class="total">Total</td>
              <td class="student" *ngFor='let student of schedules[0].listStudents;index as i' style="vertical-align: middle;"> 
                  <div *ngIf='i%2==0' style="text-align: left;">
                      <p>Presente: 4</p><br>
                      <p>Tarde: 5</p><br>
                      <p>Inasistencia: 19</p><br>
                  </div>
                  <div *ngIf='i%2!=0'>
                      <input placeholder="Nota" class="notaSemanal" />
                  </div>
              </td>
          </tr>
      </tbody>
  </table>

  <table class="table-sec">
      <thead class="head-table">
          <tr >
              <th class="th-normal"></th>
              <th *ngFor='let student of onlyStudents' style="width: 200;">
                      {{student.name}}
              </th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="evFinal">Evaluacion final</td>
              <td *ngFor='let student of onlyStudents' >
                  <input placeholder="Nota"/>
              </td>
          </tr>
      </tbody>
  </table>

</div>
