<div class="backgorud">
    <div class="container">
        <div class="text-center py-5">
            <h1 style="color: white;">Registar Empresa</h1>
        </div>
        <div class="py-2" style="height:29rem; overflow:auto;">
            <table style="width: 100%; text-align: center; background-color: white;">
                <tr style="background-color: #f0a500;">
                    <th><strong>Nombre Empresa (Corto)</strong></th>
                    <th><strong>Nombre Empresa (Largo)</strong></th>
                    <th><strong>Tipo Sociedad</strong></th>
                    <th><strong>Detalles</strong></th>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr> 
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> A&D</td>
                    <td> 
                        <button class="view-details">
                            <fa-icon [icon]="faPlus" class="icon-size"></fa-icon>
                        </button>
                    </td>
                </tr>                         
            </table>
        </div>
    </div>
</div>