.background {
    background-color: #334756;
    height: 90vh;
}

table, th, td {
    border-bottom: 1px solid black;
  }

.view-details {
    background-color: white;
    border: none;
    color: #334756;
}
